/* Estilos Generales */
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  background-image: url("../imagenes/fondogrisnegro.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

header {
  background: #8B0000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

nav {
  background: #333;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

.videoconta {
  display: grid;
  place-items: center;
  height: 100vh;
}

.videoconta iframe {
  width: 400px;
  height: 400px;
}

#colorformulario {
  color: #8B0000;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 1rem;
}

footer {
  height: 80px;
  padding: 15px 30px;
  font-size: 16px;
  margin-top: 30px;
  background-color: #8B0000;
  color: #fff;
  text-align: center;
}

.containertext {
  text-align: center;
  font-size: 25px;
  margin: 10px 0;
}

.container img {
  display: inline-block;
}

.containertitulo, .containertitulo2 {
  text-align: center;
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  color: #8B0000;
}

.flexsection {
  height: 400px;
  width: 100%;
  border: solid 1px black;
  display: flex;
  justify-content: center;
}

.carousel {
  flex: 2;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.carousel .carousel-inner img {
  max-width: 100%;
  height: auto;
}

.menuhori {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.menuhori li {
  margin: 5px;
}

.menuhori a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.menuhori a:hover {
  background-color: #555;
}
.descrip-page {
  padding: 15px;
  font-size: 14px;
}
.horarios {
  width: 400px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}
.horarios ul {
  list-style-type: none;
  padding-left: 0;
}

.descrip-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
  border-radius: 8px;
}
.descrip-page {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-weight: bold;
  color: #080808;
  position: relative;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  font-size: 16px;
  border: 1px solid #0a0a0a;
  font-family: "Times New Roman", Times, serif;
}
iframe {
  width: 100%;
  height: 315px;
  border-radius: 8px;
}
.bordecarro {
  background: rgba(162, 8, 8, 0.8);
  padding: 50px;
  font-weight: bold;
  position: relative;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  background: linear-gradient(0deg, rgba(195, 51, 34, 0.91) 0%, rgba(253, 45, 86, 0.82) 100%);
}
.text-container {
  flex: 1;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 60%; /* Ajusta el ancho del contenedor a lo que desees */
  margin: 0 auto; /* Aplica márgenes automáticos para centrar */
}
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.containertitulo, .containertitulo2 {
  text-align: center;
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  color: #8B0000;
}
.card {
  width: 18rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: white;
  background: linear-gradient(0deg, rgba(195, 51, 34, 0.91) 0%, rgba(253, 45, 86, 0.82) 100%);
}

.card .card-body {
  padding: 15px;
}

.card .card-text {
  margin-top: 10px;
  font-size: 16px;
}

.card .card-img-top {
  width: 100%;
  height: auto;
}

/* Responsive Styles */
@media (max-width: 700px) {
  nav ul {
    display: none;
  }

  nav .navbar-toggler {
    display: block;
    cursor: pointer;
    background-color: #8B0000;
    padding: 10px;
    border: none;
    color: #fff;
  }

  nav .navbar-toggler:hover {
    background-color: #cf0f0f;
  }

  nav.active ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .videoconta iframe {
    width: 300px;
    height: 300px;
  }

  .flexsection {
    flex-direction: column;
  }

  .carousel {
    max-width: 100%;
  }

  .descrip-page, .bordecarro, .card {
    max-width: 90%;
    padding: 10px;
  }

  .containertitulo {
    font-size: 35px;
  }
}

/* botones contacto */
.btn-custom {
  background-color: #8B0000;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #cf0f0f;
}

