body {
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    padding: auto;
    background-color: #f8f8f8;
    background-image: url('../imagenes/fondogrisnegro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    
}


header {

    background: #8B0000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {

    background: #A52A2A;
    padding: 1rem;
    text-align: center;
}


nav a {

    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}


main {

    /* padding: 2rem;  */
    margin-bottom: 20px;
    padding-bottom: 20px; 
    
}


.section {

    margin-bottom: 1rem;
}


footer {
  background: #8B0000;
  color: #fff;
  text-align: center;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20px; /* Espacio adicional encima del footer */
  
}


.containertext {

    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}



.container img {

    display: inline-block;
}

.containertitulo {

    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;



}

.videoconta {

    display: grid;
    place-items: center;
    height: 100vh;
}

.contenimg {

    margin: 100%;
}


.flexsection {

    height: 400px;
    width: 100%;
    border: solid 1px black;
    display: flex;
    justify-content: center;

}


.img1 {

    width: 200px; 
    height: 200; 
    border-radius: 50%; 
    overflow: hidden;

}


.carousel {

        width: 100%;
        max-width: 600px; /* Tamaño maximo del carrusel */
        overflow: hidden;
      }


      
.carouselimg {

        width: 100%; /* Las imagenes ocuparan el 100% del ancho del carrusel */
        height: auto; /* Mantiene la proporcion de la imagen */
        object-fit: cover; /* Ajusta la imagen al contenedor, cortando los bordes si es necesario */
        display: flex;
        justify-content: center;
      }
  
      

.menuhori {
  
    list-style: none;  /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;  /* Alinea los elementos al centro */
    
}


.tipotitu1 {
    
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
h1 {

    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
}




section h3 {

    font-size: 25px;
    font-family:'Courier New', 'Courier', 'monospace';
    color:rgb(20, 31, 240)
}

div p {

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: #620d0d;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  z-index: 1000; /* Asegura que el navbar esté encima de otros contenidos */
}

.navbar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar nav ul li {
  margin: 0 15px;
}


.descrip-page {


  background-color: rgb(248, 248, 248,0.5);
  padding: 50px;

  color: #8B0000;



}
      



/* Estilos generales */

  
  header img {
    max-width: 100%;          /* Ajusta el logo al ancho del contenedor */
    height: auto;
  }
  
  nav.menuhori {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav.menuhori li {
    margin: 5px;
  }
  
  nav.menuhori a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
  
  nav.menuhori a:hover {
    background-color: #555;
  }
  
  
  .videoconta iframe {
    width: 400px;
    height: 400px;
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem; /* Espacio entre las tarjetas */
    padding: 1rem;
  }
  
  /* Media Queries para pantallas Celulares */


  @media (max-width: 600px) {
    nav.menuhori {
      flex-direction: column;
      text-align: center;
    }
  
    nav.menuhori li {
      margin: 0;
    }
  
    nav.menuhori a {
      padding: 15px;
    }
  
    .containertitulo {
      font-size: 1.5em;
    }
  
    .containertext {
      font-size: 1em;
    }

    
  }
  